<div class="preview-div">
  <div class="card">
    <div class="card-header bg-warning">Exam Test Paper</div>
    <div class="row exam-info text-left">
      <div class="col-md-3 col-6">
        Class: <span>6</span>
      </div>
      <div class="col-md-3 col-6">
        No. of Ques.: <span>25</span>
      </div>
      <div class="col-md-3 col-6">
        Each Ques. Marks: <span>1</span>
      </div>
      <div class="col-md-3 col-6">
        Total Marks: <span>25</span>
      </div>
    </div>
    <hr>
    <div class="row exam-info text-left">
      <div class="col-md-3 col-6">
        Attempted: <span>15</span>
      </div>
      <div class="col-md-3 col-6">
        Ques. Left: <span>10</span>
      </div>
      <div class="col-md-3 col-6">
        Time Left: <span>20 mins</span>
      </div>
      <div class="col-md-3 col-6">
        Lorem: <span>XX</span>
      </div>
    </div>
  </div>  
  <div class="row">
    <div class="col-lg-4 col-md-6 col-12 mb-2">
      <div class="card create-question-div my-shadow">
        <h5><b>Q.1</b> What is the Capital of India?</h5>
        <hr>
        <small class="text-dark text-left">Answers:</small>
        <p class="bg-light text-left"><b>A.</b> Kolkata</p>
        <p class="bg-light text-left"><b>B.</b> Chennai</p>
        <p class="bg-light text-left bgSuccess"><b>C.</b> New Delhi</p>
        <p class="bg-light text-left"><b>D.</b> Mumbai</p>
      </div>
    </div>
  </div>
</div>