<form 
  class="make-test"
  (ngSubmit)="onSubmit()"
  #examTestForm="ngForm">
  <div class="form-group d-flex select-class-div row my-card">
    <div class="col-lg-3 col-md-6 col-12">
      <label for="selectClass" class="exam-class-label">Select Class: </label>
      <select 
        class="form-control exam-class" 
        id="selectClass" 
        ngModel
        name="select-class"
        required>
        <option disabled selected hidden value="0">Choose...</option>
        <option>9</option>
        <option>8</option>
        <option>7</option>
        <option>6</option>
        <option>5</option>
        <option>4</option>
        <option>3</option>
        <option>2</option>
        <option>1</option>
      </select>
    </div>
    <div class="col-lg-3 col-md-6 col-12">
      <label for="selectClass" class="exam-class-label">No. of Question: </label>
      <input 
        type="number" 
        id="examDate" 
        placeholder="0"
        class="form-control no-of-q text-center"
        min="1"
        ngModel
        name="exam-date"
        required
        #noOfQues>
    </div>
    <div class="col-lg-3 col-md-6 col-12">
      <label for="selectClass" class="exam-class-label">Each Question Marks: </label>
      <input 
        type="number" 
        id="examDate" 
        placeholder="0"
        class="form-control each-q-marks text-center"
        min="1"
        ngModel
        name="exam-date"
        required
        #quesMarks>
    </div>
    <div class="col-lg-3 col-md-6 col-12 full-marks">
      <label for="selectClass" class="exam-class-label">Total Marks</label>
      <div class="btn btn-primary d-block">
        {{noOfQues.value*quesMarks.value}}
      </div>
    </div>
  </div>
  <div class="card my-shadow exam-date-time-div">
    <div class="card-header bg-warning">
      EXAM DATE AND TIME
    </div>
    <div class="card-body date-time">
      <div class="form-group row justify-content-between">
        <div class="col-md-4 col-12">
          <label for="examDate">Exam Date</label>
          <input 
            type="date" 
            id="examDate" 
            class="form-control exam-date"
            ngModel
            name="exam-date"
            required>
        </div>
        <div class="col-md-4 col-12">
          <label for="examStartTime">Start Exam Time</label>
          <input 
            type="time" 
            id="examStartTime"
            class="form-control exam-time"
            ngModel
            name="exam-start-time"
            required>
        </div>
        <div class="col-md-4 col-12">
          <label for="examEndTime">End Exam Time</label>
          <input 
            type="time" 
            id="examEndTime"  
            class="form-control exam-time"
            ngModel
            name="exam-end-time"
            required>
        </div>
      </div>
    </div>
  </div>
  <!-- add question -->
    <div
    class="card create-question-div my-shadow"
    >
    <textarea
      class="form-control exam-question"
      id="examQuestion"
      placeholder="Enter your question"
      ngModel
      name="question"
      required
      #examQuestion
    ></textarea>
    <hr />
    <small class="text-dark text-left">Answers:</small>
    <textarea
      rows="1"
      class="form-control create-ans"
      id="exam-ans-1"
      placeholder="Enter answer 1"
      [ngClass]="{borderGreen: selectAnswer.value === 'A'}"
      ngModel
      name="answer1"
      required
      #examAns1
    ></textarea>
    <textarea
      rows="1"
      class="form-control create-ans"
      id="exam-ans-2"
      placeholder="Enter answer 2"
      [ngClass]="{borderGreen: selectAnswer.value === 'B'}"
      ngModel
      name="answer2"
      required
      #examAns2
    ></textarea>
    <textarea
      rows="1"
      class="form-control create-ans"
      id="exam-ans-3"
      placeholder="Enter answer 3"
      [ngClass]="{borderGreen: selectAnswer.value === 'C'}"
      ngModel
      name="answer3"
      required
      #examAns3
    ></textarea>
    <textarea
      rows="1"
      class="form-control create-ans"
      id="exam-ans-4"
      placeholder="Enter answer 4"
      [ngClass]="{borderGreen: selectAnswer.value === 'D'}"
      ngModel
      name="answer4"
      required
      #examAns4
      ></textarea>
    <div class="input-group mb-3 select-answer-div">
      <div class="input-group-prepend">
        <label class="input-group-text" for="selectAnswer">Select Answer:</label>
      </div>
      <select
        class="custom-select"
        id="selectAnswer"
        name="correct-answer"
        required
        ngModel
        #selectAnswer
      >
        <option selected value="0" disabled selected hidden>Choose...</option>
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
      </select>
    </div>
    <div class="form-group edit-reset btn-group justify-content-between">
      <button 
        type="button" 
        class="btn btn-success form-control"
        (click)="addQuestion()"
        >Add Qestion</button>
      <button
        type="button"
        class="btn btn-danger form-control"
        >
        Reset
      </button>
    </div>
  </div>
  <div class="row">
      <div class="col-lg-4 col-md-6 col-12"
        *ngFor="let eachQuestion of allQuestions; let i = index">
    <div class="card create-question-div my-shadow">
      <h5><b>Q.{{i + 1}}</b> {{ eachQuestion.question }}</h5>
      <hr/>
      <small class="text-dark text-left">Answers:</small>
      <p 
        class="bg-light text-left"
        [ngClass]="{bgSuccess: eachQuestion.correct === 'A'}">
        <b>A.</b> {{eachQuestion.ans1}}</p>
        <p 
        class="bg-light text-left"
        [ngClass]="{bgSuccess: eachQuestion.correct === 'B'}">
        <b>B.</b> {{eachQuestion.ans2}}</p>
        <p 
        class="bg-light text-left"
        [ngClass]="{bgSuccess: eachQuestion.correct === 'C'}">
        <b>C.</b> {{eachQuestion.ans3}}</p>
        <p 
        class="bg-light text-left"
        [ngClass]="{bgSuccess: eachQuestion.correct === 'D'}">
        <b>D.</b> {{eachQuestion.ans4}}</p>
      <div class="d-flex justify-content-between">
        <b>Correct answer: {{eachQuestion.correct}}</b>
        <div class="btn-group edit-del">
          <button 
            type="button" 
            class="btn btn-sm btn-primary"
            (click)="editEachQuestion()"
            (click)="editModal = !editModal"
            #openModal>
            <svg _ngcontent-riw-c51="" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="edit" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="" class="svg-inline--fa fa-edit fa-w-18"><path _ngcontent-riw-c51="" fill="currentColor" d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z"></path></svg>
          </button>
          <button 
            type="button" 
            class="btn btn-sm btn-danger"
            (click)="deleteModal = !deleteModal">
            <svg _ngcontent-riw-c51="" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="trash-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="" class="svg-inline--fa fa-trash-alt fa-w-14"><path _ngcontent-riw-c51="" fill="currentColor" d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"></path></svg>
          </button>
        </div>
      </div>
    </div>
    </div>
  </div>
  
  <app-edit-question></app-edit-question>
  <!-- edit question -->
  <!-- Modal -->  
  <div 
    class="modal fade" 
    id="staticBackdrop" 
    data-backdrop="static"
    tabindex="-1"
    [ngClass]="{show: editModal}">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <textarea
              class="form-control exam-question"
              id="editQuestion"
              placeholder="Enter your question"
              ngModel
              name="question"
              required>
            </textarea>
          <span class="close-modal"
          (click)="editModal = !editModal">&times;</span>
        </div>
        <div class="modal-body">
          <textarea
            class="form-control ans-div mb-3"
            id="editAns1"
            rows="1"
            placeholder="Enter your question"
            ngModel
            name="editAns1"
            required>
          </textarea>
          <textarea
            class="form-control ans-div mb-3"
            id="editAns2"
            rows="1"
            placeholder="Enter your question"
            ngModel
            name="editAns2"
            required>
          </textarea>
          <textarea
            class="form-control ans-div mb-3"
            id="editAns3"
            rows="1"
            placeholder="Enter your question"
            ngModel
            name="editAns3"
            required>
          </textarea>
          <textarea
            class="form-control ans-div"
            id="editAns4"
            rows="1"
            placeholder="Enter your question"
            ngModel
            name="editAns4"
            required>
          </textarea>
        </div>
        <div class="modal-footer">
          <button 
            type="button" 
            class="btn btn-primary mr-auto" 
            style="width: 160px;">SAVE</button>
            <!-- (click)="updateTest()" -->
          <button 
            type="button" 
            class="btn btn-secondary"
            (click)="editModal = !editModal">CLOSE</button>
          | 
          <button 
            type="button" 
            class="btn btn-danger"
            (click)="deleteModal = !deleteModal">DELETE</button>
        </div>
      </div>
    </div>
  </div>
  <div 
    class="modal fade" 
    id="staticBackdrop" 
    data-backdrop="static"
    tabindex="-1"
    [ngClass]="{show: deleteModal}">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <h5 class="p-3">Do you really want to delete?</h5>
        <div class="btn-group">
          <button 
            type="button" 
            class="btn btn-primary">Yes</button>
            <!-- (click)="deleteTest()" -->
          <button 
            type="button" 
            class="btn btn-danger"
            (click)="deleteModal = !deleteModal">Cancle</button>
        </div>
      </div>
    </div>
  </div>
  <!-- edit question -->
  <button 
    type="submit" 
    class="btn btn-success question-submit"
    [disabled]="!examTestForm.valid"
    >SUBMIT</button>

</form>
