#staticBackdrop {
  background: rgb(0 0 0 / 35%);
}
.modal.hide {
  display: none;
}
.modal.show {
  display: block;
}
.close-modal {
  position: absolute;
  top: 0;
  right: 0;
  background: #ff055a;
  color: #fff;
  font-size: 5px;
  height: 0;
  width: 0;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  opacity: 0;
  transform: translate(50%, -50%);
}
.modal-content:hover .close-modal {
  opacity: 1;
  font-size: 23px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
#staticBackdrop .ans-div {
  font-size: 18px;
}
