<div class="jumbotron">
  <h1 class="display-4">ONLINE EXAM APP</h1>
  <p class="lead">Create simple and interactive test for your students and much more.</p>
  <hr class="my-4">
  <p>Best solution for online test.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
<section class="about-us">
  <h3 class="mb-3">How to create tests</h3>
  <div class="row pl-3 pr-3">
    <div class="col-md-4 col-12 mb-3">
      <div class="card my-shadow">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-12 mb-3">
      <div class="card my-shadow">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-12 mb-3">
      <div class="card my-shadow">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="testi">
  <h3 class="mb-3">Testimonials</h3>
  <div class="row pl-3 pr-3">
    <div class="col-md-4 col-12 mb-3">
      <div class="card text-center my-shadow">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
    </div>
    <div class="col-md-4 col-12 mb-3">
      <div class="card text-center my-shadow">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
    </div>
    <div class="col-md-4 col-12 mb-3">
      <div class="card text-center my-shadow">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>Simple and Interactive Test Create App.</p>
    <p>New to this APP? <a href="#">Visit the FAQ</a> or read our <a href="#">getting started guide</a>.</p>
  </div>
</footer>